Year 3/Individual Project/extras/src/junk/xml/accounts/accounts.xsd.xml

<?xml version="1.0"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.suppliers.com" xmlns="http://www.suppliers.com" elementFormDefault="qualified">	<xsd:complexType name="branch_db">		<xsd:choice maxOccurs="unbounded">			<xsd:element name="branch" type="branch"/>			<xsd:element name="account" type="account"/>			<xsd:element name="movement" type="movement"/>		</xsd:choice>	</xsd:complexType>	<xsd:complexType name="branch">		<xsd:attribute name="sortcode" type="xsd:integer"/>		<xsd:attribute name="bname" type="xsd:string"/>		<xsd:attribute name="cash" type="xsd:float"/>	</xsd:complexType>	<xsd:complexType name="account">		<xsd:attribute name="no" type="xsd:integer"/>		<xsd:attribute name="type" type="xsd:string"/>		<xsd:attribute name="cname" type="xsd:string"/>		<xsd:attribute name="rate" type="xsd:float" use="optional"/>		<xsd:attribute name="sortcode" type="xsd:integer"/>	</xsd:complexType>	<xsd:complexType name="movement">		<xsd:attribute name="mid" type="xsd:integer"/>		<xsd:attribute name="amount" type="xsd:float"/>		<xsd:attribute name="tdate" type="xsd:date"/>		<xsd:attribute name="no" type="xsd:integer"/>	</xsd:complexType>	<xsd:element name="branch_db" type="branch_db">		<xsd:key name="branch_pk">			<xsd:selector xpath="branch"/>			<xsd:field xpath="@sortcode"/>		</xsd:key>		<xsd:key name="account_pk">			<xsd:selector xpath="account"/>			<xsd:field xpath="@no"/>		</xsd:key>		<xsd:key name="movement_pk">			<xsd:selector xpath="movement"/>			<xsd:field xpath="@mid"/>		</xsd:key>		<xsd:keyref name="account_branch_fk" refer="branch_pk">			<xsd:selector xpath="account"/>			<xsd:field xpath="@sortcode"/>		</xsd:keyref>		<xsd:keyref name="movement_account_fk" refer="account_pk">			<xsd:selector xpath="movement"/>			<xsd:field xpath="@no"/>		</xsd:keyref>	</xsd:element></xsd:schema>